body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
}
.calculator {
        
        display: grid;
        height: 30vh;
        width: 30vw;
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: repeat(6, 60px);
}

#displayTop,
#displayBot {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50%;
        
}

button {
        border-radius: 5px;
        box-shadow: 2px;
}
.display {
        grid-area: 1 / 1 / auto / span 4; 
        border: 1px solid black;
}
.clear {
        grid-area: 2 / 3 / auto / span 2;
}

.equal {
        grid-area: 6 / 3 / auto;
}

.multiply {
        grid-area: 6 / 4 / auto;
}

.divide {
        grid-area: 5 / 4 / auto;
}

.minus {
        grid-area: 4 / 4 / auto;
}

.plus {
        grid-area: 3 / 4 / auto;
}

.fill {
        grid-area: 2 / 1 / auto / span 2;
        border-left: 1px solid black;
        background: grey;
}