*,
html,
*::before,
*::after {
        font-family: 'Courier New', Verdana, Georgia, Garamond, sans-serif;
}

body {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #474447;
}
.calculator {
        box-sizing: border-box;
        display: grid;
        height: fit-content;
        width: fit-content;
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: repeat(6, 60px);
        padding: 5px;
        background: lightgoldenrodyellow;
        border: 3px solid #600080;
        border-radius: 7px;
        box-shadow: 4px 4px 1px 2px #f2ccff; 
}

#displayTop,
#displayBot {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50%;
        
}

button {
        border-radius: 5px;
}

.operator {
        background: lightseagreen;
}

.display {
        grid-area: 1 / 1 / auto / span 4; 
        border: 1px solid black;
}
.clear {
        grid-area: 2 / 3 / auto / span 2;
        background: hsla(250, 30%, 50%, .5);
}

.equal {
        grid-area: 6 / 3 / auto;
        background: #5db3ec;
}

.multiply {
        grid-area: 6 / 4 / auto;
}

.divide {
        grid-area: 5 / 4 / auto;
}

.minus {
        grid-area: 4 / 4 / auto;
}

.plus {
        grid-area: 3 / 4 / auto;
}

.fill {
        grid-area: 2 / 1 / auto / span 2;
        border-left: 1px solid black;
        background: lightcyan;
}

.num {
        background: #ff8080;
}